
#text
{
float:middle	;
width:100px;
}

/* CSS for dropdown box */
select, input[type="date"]
{
	width: 200px;
	height: 29px;
	border-radius: 3px;
	border: 1px solid #CCC;
	font-weight: 200;
	font-size: 15px;
	font-family: Verdana;
	box-shadow: 1px 1px 5px #CCC;
	margin-left: 17%;
}
select:hover
{
	width: 200px;
	height: 29px;
	border-radius: 3px;
	border: 1px solid #CCC;
	font-weight: 200;
	font-size: 15px;
	font-family: Verdana;
	box-shadow: 1px 1px 5px #CCC;
}

/* CSS for radios */

input[type="radio"]
{
	width: 5%;
	height: 5%;
	border-radius: 3px;
	border: 1px solid #CCC;
	font-weight: 200;
	font-size: 15px;
	font-family: Verdana;
	margin-left: 17%;
}
input[type="radio"]:hover
{
	border-radius: 3px;
	border: 1px solid #CCC;
	font-weight: 200;
	font-size: 15px;
	font-family: Verdana;
}

/* CSS for textfields */
input[type='text'], input[type='password']
{
	width : 70%;
	height: 10%;
	border-radius: 3px;
	border: 1px solid #CCC;
	margin-left: 15%;
	font-weight: 200;
	font-size: 25px;
	font-family: Verdana;
	box-shadow: 1px 1px 5px #CCC;
}

input[type='text']:hover, input[type='password']:hover
{
	width: 70%;
	height: 10%;
	border-radius: 3px;
	border: 1px solid #aaa;
	font-weight: 200;
	font-size: 25px;
	font-family: Verdana;
	box-shadow: 1px 1px 5px #CCC;
}

/* CSS for textarea */
textarea
{
	width: 70%;
	height: 50%;
	border-radius: 3px;
	border: 1px solid #CCC;
	margin-left: 15%;
	font-weight: 200;
	font-size: 25px;
	font-family: Verdana;
	box-shadow: 1px 1px 5px #CCC;
}
textarea:hover
{
	width: 70%;
	height: 50%;
	border-radius: 3px;
	border: 1px solid #aaa;
	font-weight: 200;
	font-size: 25px;
	font-family: Verdana;
	box-shadow: 1px 1px 5px #CCC;
}

/* CSS for buttons */
input[type='submit'], input[type='button']
{
	width : 50%;
	height: 15%;
	border: 2px solid white;
	margin-left: 25%;
	background-color:#CCC;
	font-size: 20px;
	font-family: serif, Helvetica, Arial;
	font-style: normal;
	font-weight: bold;
}

input[type='submit']:hover, input[type='button']:hover
{
	width : 50%;
	height: 15%;
	border: 2px solid white;
	background-color:#000000;
	color:#fff;
}

.titulo {
	font-family: serif, Helvetica, Arial;
	font-style : normal;
	font-weight: normal;
	font-size  : 40px;
	padding-top: 15%;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
}

.login-label {
	font-family: serif, Helvetica, Arial;
	font-style : normal;
	font-weight: bold;
	font-size  : 15px;
	margin-left: 15%;
}

.questao {
	font-family: Helvetica, serif, Arial;
	font-style : normal;
	font-weight: bold;
	font-size  : 15px;
}

.resposta {
	font-family: Helvetica, serif, Arial;
	font-style : italic;
	font-weight: normal;
	font-size  : 15px;
}

.erro {
	font-family: Helvetica, serif, Arial;
	font-style : italic;
	font-weight: normal;
	font-size  : 15px;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	color : red;
}

.correto {
	font-family: Helvetica, serif, Arial;
	font-style : italic;
	font-weight: normal;
	font-size  : 15px;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	color : green;
}

/* menu bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* popup */
.popup{
    display: block;
    position: absolute;
    top:10%;
    left:10%;
    width: 80%;
    border: 1px solid #d0d0d0;
    background-color: #dcdf00;
}